<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMIN</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="#">Facturacion Electronica</a>
        <img class="logo" src="/images/fact.png" style="width: 60px; height: 60px"/>
      </div>
      <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/AcercaDe">Acerca de...</a>
      <!-- llevar a la pagina de acerca de -->
      <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/facturas">Facturas</a>
      <!-- llevar a la pagina de facturar -->
      <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/clientes">Clientes</a>
      <!-- llevar a la pagina de clientes -->
      <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/productos">Productos</a>
      <!-- llevar a la pagina de productos -->
      <a style="border: none; padding: 10px 20px; font-size: x-large" href="presentation/facturar">Facturar</a>
      <!-- llevar a la pagina de facturas -->

      <img src="/images/user.png" style="width: 40px; height: 40px; border-radius: 50%"/>
      <a style="border: none; padding: 10px 20px;" href="presentation/profile">Usuario</a>
      <!-- <a class="navbar-brand" th:href="@{/presentation/profile}" th:text="${user.getNombre()}">
      mostrar nombre de usuario a la par de imagen-->

      </a>
    </div>
  </nav>
</header>
<h1>ADMIN</h1>
<table>
  <tr>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Correo</td>
    <td>Contraseña</td>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.nombre}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.estatus}"></td>
  </tr>
</table>
</body>
</html>