<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
            <div class="container">
                <a class="navbar-brand" href="#">Facturacion Electronica</a>
                <img class="logo" src="/images/fact.png" style="width: 60px; height: 60px"/>
            </div>
            <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/AcercaDe">Acerca de...</a>
            <!-- llevar a la pagina de acerca de -->
            <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/facturas">Facturas</a>
            <!-- llevar a la pagina de facturar -->
            <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/clientes">Clientes</a>
            <!-- llevar a la pagina de clientes -->
            <a style="border: none; padding: 10px 20px; font-size: x-large" href="/presentation/productos">Productos</a>
            <!-- llevar a la pagina de productos -->
            <a style="border: none; padding: 10px 20px; font-size: x-large" href="presentation/facturar">Facturar</a>
            <!-- llevar a la pagina de facturas -->

            <img src="/images/user.png" style="width: 40px; height: 40px; border-radius: 50%"/>
            <a style="border: none; padding: 10px 20px;" href="presentation/profile">Usuario</a>
            <!-- <a class="navbar-brand" th:href="@{/presentation/profile}" th:text="${user.getNombre()}">
            mostrar nombre de usuario a la par de imagen-->

            </a>
        </div>
    </nav>
</header>
<h1>Historial de Facturas</h1>
<table>
    <thead>
    <tr>
        <th>ID Factura</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Aquí se mostrarán las filas de las facturas -->
    <!-- Utiliza Thymeleaf para iterar sobre la lista de facturas y mostrar los datos -->
    <tr th:each="factura : ${facturas}">
        <td th:text="${factura.id}"></td>
        <td th:text="${factura.fecha}"></td>
        <td th:text="${factura.total}"></td>
        <td>
            <!-- Agrega un botón para eliminar cada factura -->
            <form th:action="@{/presentation/facturas/eliminar/{id}(id=${factura.id})}" method="get">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>