<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}">
  <title>PERFIL</title>
</head>
<body>
<!-- BARRA DE NAVEGACION -->
<header>
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="#">Calificaciones a Hoteles</a>
      </div>
      <a class="navbar-brand" href="#">+506 5467 0937</a>
    </div>
  </nav>
</header>
<h1>PERFIL</h1>
</body>
</html>